@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  font-family: "Roboto", sans-serif !important;
}


:where(.ant-col),
:where(.ant-form),
:where(.ant-btn),
:where(.ant-input),
:where(.ant-checkbox-wrapper),
:where(.ant-modal),
:where(.ant-table),
:where(.ant-menu) {
    font-family: 'Roboto', sans-serif !important;
}
.ant-col{
    padding: 0 !important;
}